body{
    background-color: rgb(52, 52, 146);

}



/*LOG IN PAGE*/
.loginbox{
    border: 3px;
    border-style: solid;
    border-color: rgb(30, 30, 88);
    top: 50%;
    left: 50%;
    background-color: rgb(35, 35, 102); 
    width: 400px;   
    height: 600px;
    margin: auto;
    color: aliceblue;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
}

.loginh1{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30;
}

.loginh2{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22;
}

.inputLogin{
    margin-bottom: 20px;
    width: auto;
    height: 5%;
    background-color: rgb(52, 52, 146);
    border: 0px;
    color: aliceblue;
}

.inputLoginButton{
    border: 0px;
    background-image: url(button1.png);
    background-size: 50px;
    width: 50px;
    height: 50px
}

.inputLoginButton:hover{
    border: 1px;
    border-style: solid;
    border-color: #fff;
}
.inputLoginButton:active{
    border: 2px;
    border-style: solid;
    border-color: #fff;
}

.inputLogin:hover{
    border: 1px;
    border-style: solid;
    border-color: #fff;
}
/*--------------------------------LOG IN PAGE--------------------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------------MAIN PAGE--------------------------------*/
.leftPanel{
    float: left;
    clear: both;
    margin-top: -10%;
    width: 10%;
    height: 100%;
    padding-top: 10%;

    background-color: rgb(35, 35, 102); 
    border: 3px;
    border-style: solid;
    border-color: rgb(30, 30, 88);
    position: fixed
}
.baner{
    
    padding-left: 20%;
    margin-top: 0%;
    width: 80%;
    background-color: rgb(35, 35, 102); 
    height: 10%;
    border: 3px;
    border-style: solid;
    border-color: rgb(30, 30, 88);
    position: static;

}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30;
    color:aliceblue;
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15;
    color:aliceblue;
}

.h3copy{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15;
    color:aliceblue;
}

a:hover{
    text-decoration: underline;
    text-decoration-thickness: 3px;
}
a{
   text-decoration: underline;
    font-weight: bold;
}
a:link, a:visited{
    color: aliceblue;
}

.MainPageBox{
    margin-left: 20%;
    margin-top: 10%;
    width: 70%;
    background-color: rgb(35, 35, 102); 

    border-style: solid;
    border-color: rgb(30, 30, 88);
    position: relative;
}